<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<form action="/home/id" method="get">
    <div class="form-group container">
        <label>Type</label>
        <input type="text" class="form-control" name="user_type" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

<!--    <div class="form-group container">-->
<!--        <label>Name</label>-->
<!--        <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter Name">-->
<!--        <small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--    </div>-->

<!--    <div class="form-group container">-->
<!--        <label>Password</label>-->
<!--        <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter password">-->
<!--        <small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--    </div>-->

    <div class="form-group container">
        <button type="submit" class = "btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>