
.body{
  background-color: black;
}


.sc-req-container {
  padding: 20px;
  text-align: center;
}

.parts-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.parts-table th,
.parts-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.parts-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* RepairOrder.css */

.repair-order-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.repair-order-form {
  display: grid;
}
.repair-order-form label{
  margin-top: 15px;
}
.repair-order-form button{
  margin-top: 20px;
}